@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h3>Browse genres</h3>

<p>Select from @Model.Count() genres:</p>
<ul>
    @foreach(var _genre in @Model)
    {
    <li>@Html.ActionLink(_genre.Name, "Browse", new { genre=_genre.Name })</li>
    }
</ul>
